.TabMembers-room-section {
	border-bottom: 1px solid white;
}

.TabMembers-room-header {
	color: blueviolet;
}

.TabMembers-space-name {
	color: orangered;
}

.TabMembers-profile-btn {
	border: none;
	border-radius: 25px;
}

.TabMembers-profile-btn:hover,
.TabMembers-profile-btn:focus {
	outline: 0;
	transform: scale(1.1);
	background-color: #84f;
	color: white;
}
