.CreateRoomSelected {
	color: red;
	font-weight: bolder;
	transform: scale(1.15);
}

.CreateRoom-frnd-wrapper {
	padding: 5px;
}

.CreateRoom-frnd-img {
	margin-right: 3px;
}

.CreateRoom-frnd-img:hover {
	border: 3px solid red;
}
