.Tabfriends-subtitle {
	color: rgb(77, 5, 201);
}

/* invite accept btn  */
.TabFriends-btn.accept {
	background-color: rgb(182, 252, 77);
}

/* invite decline btn  */
.TabFriends-btn.decline {
	background-color: lightgoldenrodyellow;
}

/* shared style for all btns  */
.TabFriends-btn {
	border: none;
	border-radius: 25px;
}

.TabFriends-btn:hover,
.TabFriends-btn:focus {
	outline: 0;
	transform: scale(1.1);
	background-color: #84f;
	color: white;
}
