
.Profile-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* User image edit and upload */
.Profile-img-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}

.Profile-image {
	display: inline-block;
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.Profile-image-options {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.Profile-image-options:hover {
	cursor: pointer;
	transform: scale(1.5);
}

.Profile-img-edit-btn {
	display: block;
	border: none;
	background-color: #fff;
	outline: none;
	color: blue;
}

.Profile-img-edit-btn:hover {
	color: rgb(55, 5, 238);
}

/* User  Profile  input  */
.Profile-input-group {
	padding-top: 3rem;
}

.Profile label {
	font-weight: 500;
	font-size: medium;
	display: inline-block;
	margin-right: 1rem;
	color: grey;
}

.Profile input {
	display: inline-block;
	padding: 4px 6px;
	width: 175px;
	border: none;
	background-color: aliceblue;
}

.Profile #email {
	display: inline-block;
	margin-left: 2.2rem;
}

.Profile-update-btn {
	display: inline-block;
	margin-top: 2.5rem;
	margin-left: 6.5rem;
	padding: 0.3rem 1.1rem;
	border: none;
	border-radius: 25px;
	background-color: rgb(95, 5, 238);
	font-size: medium;
	color: #fff;
}

.Profile-update-btn:hover {
	background-color: rgb(55, 5, 238);
}

/* media queries  */
@media only screen and (max-width: 500px) {
	.Profile label {
		display: block;
		font-size: 0.85rem;
		font-weight: 400;
		margin: 8px 0 0;
	}

	.Profile #email {
		margin-left: 0;
	}

	.Profile-update-btn {
		display: block;
		margin: 25px 0;
	}
}
