/* .TabFriends-section {
	height: 22vh;
	overflow: scroll;
} */

.Tabfriends-subtitle {
	color: rgb(77, 5, 201);
}

.TabFriends-check-btn {
	border: none;
	background-color: transparent;
	height: 0;
}

.TabFriends-check-btn:active,
.TabFriends-check-btn:focus {
	outline: 0;
	transform: scale(1.1);
}

.TabFriends-profile-btn {
	border: none;
	border-radius: 25px;
}

.TabFriends-profile-btn:hover,
.TabFriends-profile-btn:focus {
	outline: 0;
	transform: scale(1.1);
	background-color: #84f;
	color: white;
}
