.TabDmChats-chat-wrapper {
	height: 100%;
	width: 430px;
	transition: 350ms;
	background-color: rgb(241, 245, 248);
	padding-bottom: 120px;
	overflow: visible;
	/* background-color: yellow; */
}

.TabDmChats-chat-body {
	flex: 1;
}

.TabDmChats-chat-you {
	text-align: end;
}

.TabDmChats-chat-msg-you {
	display: inline-block;
	background-color: rgb(247, 224, 228);
	border-radius: 25px;
	padding: 3px;
}

.TabDmChats-chat-msg-friend {
	display: inline-block;
	background-color: rgb(164, 250, 157);
	border-radius: 25px;
	padding: 3px;
}

.TabDmChats-chat-footer {
	background-color: rgb(230, 227, 227);
	width: 430px;
	transition: 350ms;
	position: sticky;
	left: 0;
	bottom: 62px;
}

.TabDmChats-chat-input {
	width: 320px;
	padding: 3px 10px;
	border: 0;
	border-radius: 25px;
	display: inline-block;
	margin: 0 4px;
}

.TabDmChats-chat-input:focus {
	outline: 0;
}

.TabDmChats-chat-btn {
	border: 0;
	background-color: transparent;
}


@media only screen and (max-width: 800px) {
	.TabDmChats-chat-wrapper {
		width: 325px;
		transition: 350ms;
	}

	.TabDmChats-chat-footer {
		width: 325px;
		transition: 350ms;
	}

	.TabDmChats-chat-input {
		width: 215px;
		transition: 350ms;
	}
}
